<section>
  <h4>Take A Quiz!</h4>
  <%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.label :title_cont, "Quiz title contains" %>
      <%= f.text_field :title_cont %>
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <%= button_to 'Create a Quiz', new_quiz_path, method: :get, 
      class: 'create-quiz' %>

  <% @quizzes.each do |quest| %>
  <% if !quest.private %>
      <% if current_user.present? && current_user.age >= quest.age_rating %>
        <div class='show-quiz'>
          <strong>Title:</strong>
          <%= quest.title %>
            <%= button_to 'Take this Quiz!', quiz_path(quest), 
                method: :get, class: 'take-me' %><br />
        </div>
      <% end %>
    <% end %>
  <% end %>

</section>
