<section>
  <br />
  <div class='create-quiz'>
    <%= link_to 'Create a Quiz', new_quiz_path %>
  </div>

  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label %>
      <%=  %>
    </div>
  <% end %>

    <% @quiz.each do |quest| %>
    <% if !quest.private %>
        <% if current_user.present? && current_user.age >= quest.age_rating %>
          <div class='show-quiz'>
            <strong>Title:</strong>
            <%= quest.title %>
            <div class="take-me">
              <%= link_to 'Take this Quiz!', quiz_path(quest) %><br />
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

</section>
