<%= simple_form_for @quiz do |f| %>
  <%= f.input :title %>
  <%= f.input :age_rating, collection: 3..110 %>
  <%= f.input :private %>
  <% qcount = 0 %>
  <%= f.simple_fields_for :questions do |q| %>
  <div class='question-answer-set'>
    <%= q.input :name, :label => 'Question' %>
    <div class='options-fields'>
      <% ocount = 0 %>
      <%= q.simple_fields_for :question_choices do |c| %>
      <div class='answer-set'>
        <%= c.input :option, label: 'Answer Option', input_html: {data: {oindex: ocount, qindex: qcount}} %>
        <%= c.input :correct, label: 'Correct?' %>
        <% ocount += 1 %>
      </div>
      <% end %>
    </div>
    <%= link_to 'Add Answer', '#', class: 'add-option' %>
  </div>
  <% qcount += 1 %>
  <% end %><br />

  <%= link_to 'Add Question', '', class: 'add-question' %>
  <%= f.submit %>
<% end %>

<%= content_for :extra_footer do %>
  <script>
    $(function(){
     var $questionAnswerTemplate = $('.question-answer-set:first').clone();
     console.log($questionAnswerTemplate);

     $('.add-question').click(function(e){
      e.preventDefault();
      var count = $('.question-answer-set').size();
      var $new_field = $questionAnswerTemplate.clone();

      $new_field.find('textarea').attr('id', 'quiz_questions_attributes_' + count + '_name');
      $new_field.find('textarea').attr('name', 'quiz[questions_attributes][' + count + '][name]');
      $new_field.addClass('added');

      $('.question-answer-set:last').after($new_field);
    });

    $('.add-option').click(function(e){
      e.preventDefault();
      var $target = $(e.target);
      var $answerSet = $target.siblings('.options-fields').find('.answer-set');
      var count = $answerSet.size();
      var $answerTemplate = $answerSet.last();
      
      var $newAnswer = $answerTemplate.clone();

      var $newOption = $newAnswer.find('textarea');
      var $newCorrect = $newAnswer.find('input.boolean');

      var ocount = $newOption.data('oindex') + 1;
      var qcount = $newOption.data('qindex');

      // var ccount = $newCorrect.data('cindex') + 1;
      // var qccount = $newCorrect.data('qcindex');

      $newOption.attr('data-oindex', ocount);
      $newCorrect.attr('data-oindex', ocount);

      $newOption.attr('id', 'quiz_questions_attributes_' + qcount + '_question_choices_attributes_' + ocount + '_option');
      $newOption.attr('name', 'quiz[questions_attributes][' + qcount + '][question_choices_attributes][' + ocount + '][option]');

      $newCorrect.attr('id', 'quiz_questions_attributes_' + qcount + '_question_choices_attributes_' + ocount + '_correct');
      $newCorrect.attr('name', 'quiz[questions_attributes][' + qcount + '][question_choices_attributes][' + ocount + '][correct]')
      $newAnswer.addClass('added');

      $answerTemplate.after($newAnswer);

     });
    });
  </script>
<% end %>