<section>
  <h4>Create A Quiz!</h4>

  <%= simple_form_for @quiz do |f| %>
  <fieldset>
    <%= f.input :title %>
    <%= f.input :age_rating, as: :radio_buttons, collection: [6, 10, 13, 17] %>
    <%= f.input :private, :label => false, :inline_label => true %>
    <%= f.input :news_url, label: 'News sources' %>
  </fieldset>
    <%= f.simple_fields_for :questions do |q| %>
    <div class='question-answer-set'>
     <%= render 'question_fields', f: q %>
    </div>
    <% end %><br />
    <%= link_to_add_fields 'Add Question', f, :questions %><br />
    <div id='sub'>
      <%= f.submit "Create Quiz!", class: 'btn' %>
    </div>
  <% end %>
</section>

<%= content_for :extra_footer do %>
  <script>
    $(function() {
      $('form').on('click', '.remove_fields', function(e) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('fieldset').hide();
      e.preventDefault();
      });
      
      $('form').on('click', '.add_fields', function(e) {
        var regexp, time;
        time = new Date().getTime();
        regexp = new RegExp($(this).data('id'), 'g');
        $(this).before($(this).data('fields').replace(regexp, time));
        $(this).addClass('added');
        e.preventDefault();
      });
    });
  </script>
<% end %>
