<section>
<div class="quiz-title">
  <h3>Take Quiz: <strong><%= @quiz.title %></strong></h3>
</div>

<div class="q_a_set">
  <%= simple_form_for([@quiz, @submission]) do |f|  %>
    <% @quiz.questions.each do |q| %>
      <strong>Question:</strong>
      <%= q.name %><br />
      <div class='answer-field'>
          <%= f.simple_fields_for :answer do |a| %>
          <%= a.hidden_field :question, :value => q %>
          <%= a.input :question_choices, as: :radio_buttons, 
            collection: q.question_choices, value_method: :id, 
            label_method: :option, label: false, input_html: { name: "submission[result][#{q.id}]" } %>
      </div>
    <% end %>
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
