<h1><%= "You scored a #{@submission.result}%" %></h1>

<h3>Take Quiz: <strong><%= @quiz.title %></strong></h3>
<% @quiz.questions.each do |q| %>
  <strong><%= q.name %></strong><br />
  <% q.question_choices.each do |c| %>
    <% if c.correct == true %>
      <%= c.option %><%= "*" %><br />
    <% else %>
      <%= c.option %><br />
    <% end %>
  <% end %>
<% end %>
