<section class="container-fluid">
  <h1 class="your-score"><%= "You scored a #{@submission.result}%" %></h1>

  <h3 class="quiz-title">Quiz: <strong><%= @quiz.title %></strong></h3>
  <% @quiz.questions.each do |q| %>
    <div class="result-content">
      <strong><%= q.name %></strong><br />
      <% q.question_choices.each do |c| %>
        <% if c.correct == true %>
          <em><%= "*#{c.option}*" %></em><br />
        <% else %>
          <%= c.option %><br />
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Take another quiz!', quizzes_path %>
</section>
