<!DOCTYPE html>
<html>
<head>
  <title>Quiz Me</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row-fluid">
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class='nav pull-left'>
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to image_tag('https://lh5.googleusercontent.com/-OzkTTMhg9ho/UmEwMPEuhGI/AAAAAAAAAkY/2QUZxf-mRIY/w167-h176-no/q.png', size: '20x20'), root_path %>
        </li>
        <li class="<%= 'active' if current_page?(new_quiz_path) %>">
          <%= link_to 'Create A Quiz', new_quiz_path %>
        </li>
        <li class="<%= 'active' if current_page?(quizzes_path) %>">
          <%= link_to 'Take A Quiz', quizzes_path %>
        </li>
      </ul>

      <% if user_signed_in? %>
      <ul class='nav pull-right'>
        <div class='btn-group'>
          <button class='btn dropsit'>
            <%= image_tag gravatar_url(current_user, "18") %>
            <strong><%= link_to current_user.username, user_path(current_user) %></strong>
          </button>
          <button class='btn dropdown-toggle' data-toggle='dropdown'>
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            <li>
              <%= link_to 'Edit profile', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </ul>
          <% else %>
          <ul class='nav pull-right'>
            <li>
              <%= link_to "Sign in as a Guest", user_session_path, method: :post %>
            </li>
            <li class="signer">
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
          </ul>
      <% end %>
        </div>
    </div>
  </div>
</div>


  <div class='container-fluid'>
    <% if notice || alert %>
      <div id='flash-msg' class='alert'>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <%- end -%>
      </div>
    <% end %>


    <div class="row-fluid">
      <div class="span10 offset1">
        <%= yield %>

        <%= yield :extra_footer %>
      </div>
    </div>
  </div>

<!--   <div class="footer">
    <p>Kristina Durr</p>
  </div> -->
</body>

<script>
  $(function(){
    $('#flash-msg').fadeOut(3000);
  })
</script>
</html>

